<div class="col-md-12">
  <div class="row box">
    <div class="box-inner col-md-6 col-md-offset-3">
      <h1 class="title">  职得  </h1>
      <p class="slogan">梦想职位一点即得
        <br>
        致力打造新能源行业最好的招聘平台
      </p>
      <p class="lead">
        <%= link_to '点击开始', jobs_path, class: 'btn btn-success' %>
      </p>
    </div>
  </div>
</div>



<div class="content-section-a">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 col-sm-6">
        <hr class="section-heading-spacer">
        <div class="clearfix"></div>
        <h2 class="section-heading">锂离子电池相关职位</h2>
        <p class="lead">关于锂电的一切，
          <br>都可以来这里寻找
        </p>
      </div>
      <div class="col-lg-5 col-lg-offset-2 col-sm-6">
        <%= image_tag 'pic-1.jpg', class: 'img-responsive' %>
      </div>
    </div>
  </div>
</div>

<div class="content-section-b">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
        <hr class="section-heading-spacer">
        <div class="clearfix"></div>
        <h2 class="section-heading">电动汽车相关职位</h2>
        <p class="lead">汇聚行业顶尖资源,
          <br>邀请您共同打造下一个特斯拉
        </p>
      </div>
      <div class="col-lg-5 col-sm-pull-6  col-sm-6">
        <%= image_tag 'pic-2.jpg', class: 'img-responsive' %>
      </div>
    </div>
  </div>
</div>

<div class="content-section-a">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 col-sm-6">
        <hr class="section-heading-spacer">
        <div class="clearfix"></div>
        <h2 class="section-heading">行业新闻</h2>
        <p class="lead"><a target="_blank" href="http://www.gg-lb.com/asdisp2-65b095fb-27641-.html">新能源汽车挤爆2017上海国际车展</a><br><a target="_blank" href="http://www.gg-lb.com/asdisp2-65b095fb-27586-.html">锂离子电池行业规范白名单发布8家企业入围第一批目录</a></p>
      </div>
      <div class="col-lg-5 col-lg-offset-2 col-sm-6">
        <%= image_tag 'pic-3.jpg', class: 'img-responsive' %>
      </div>
    </div>
  </div>
</div>


       <!--======== 合作伙伴 =========-->

                 <div class="our-brand">
                   <div class="col-md-8 col-md-offset-2">
                     <div class="row">
                       <div class="row">
                         <div class="col-md-6 col-md-offset-3 text-center">
                           <h2 class="section-title">合作伙伴</h2>
                         </div>
                       </div>

                         <div class="col-md-12">
                           <div class="row">

                               <div class="col-md-3">
                                   <div>
                                     <p><a href="http://www.catlbattery.com/index.php/hr-c_lang-cn.html" target="_blank"><img src="/assets/catl" width="134" heigh="44" border="0"/></a></p>
                                   </div>
                               </div>

                               <div class="col-md-3">
                                   <div>
                                     <p><a href="http://www.lgchem.com/cn/recruit/talent" target="_blank"><img src="/assets/lg" width="134" heigh="44" border="0"/></a></p>
                                   </div>
                               </div>

                               <div class="col-md-3">
                                   <div>
                                     <p><a href="http://www.samsungsdi.com.cn/career/job-description-philosophy.html" target="_blank"><img src="/assets/sum" width="134" heigh="44" border="0"/></a></p>
                                   </div>
                               </div>

                               <div class="col-md-3">
                                   <div>
                                     <p><a href="http://www.lishen.com.cn/comcontent_detail_job/FrontComContent_list01-1370586587730CurrentIds=1__9&comContentId=9.html"target="_blank"><img src="/assets/ls" width="134" heigh="44" border="0"/></a></p>
                                   </div>
                               </div>
                          </div>
                         </div>


                         <div class="col-md-12">
                           <div class="row">

                               <div class="col-md-3">
                                   <div>
                                     <p><a href="http://www.bmw.com.cn/zh/index.html" target="_blank"><img src="/assets/bmw.jpg" width="134" heigh="44" border="0"/></a></p>
                                   </div>
                               </div>

                               <div class="col-md-3">
                                   <div>
                                     <p><a href="http://www.svw-volkswagen.com/zh.html" target="_blank"><img src="/assets/www.jpg" width="134" heigh="44" border="0"/></a></p>
                                   </div>
                               </div>

                               <div class="col-md-3">
                                   <div>
                                     <p><a href="http://www.dfl.com.cn/" target="_blank"><img src="/assets/df.jpg" width="134" heigh="44" border="0"/></a></p>
                                   </div>
                               </div>

                               <div class="col-md-3">
                                   <div>
                                     <p><a href="http://www.amg-china.com/home_cn.html"target="_blank"><img src="/assets/bc.jpg" width="134" heigh="44" border="0"/></a></p>
                                   </div>
                               </div>
                          </div>
                         </div>


                       </div>
                     </div>
                 </div>

               <!--======== end 合作伙伴 =========-->
