<div class="col-md-12">
  <div class="row box">
    <div class="box-inner col-md-6 col-md-offset-3">
      <h1 class="title">  职得  </h1>
      <p class="slogan">梦想职位一点即得
        <br>
        致力打造新能源行业最好的招聘平台
      </p>
      <p class="lead">
        <%= link_to '点击开始', jobs_path, class: 'btn btn-success' %>
      </p>
    </div>
  </div>
</div>



<div class="content-section-a">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 col-sm-6">
        <hr class="section-heading-spacer">
        <div class="clearfix"></div>
        <h2 class="section-heading">锂离子电池相关职位</h2>
        <p class="lead">拥有5年行业经验的工程师亲自帮您筛选工作</p>
      </div>
      <div class="col-lg-5 col-lg-offset-2 col-sm-6">
        <%= image_tag 'pic-1.jpg', class: 'img-responsive' %>
      </div>
    </div>
  </div>
</div>

<div class="content-section-b">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
        <hr class="section-heading-spacer">
        <div class="clearfix"></div>
        <h2 class="section-heading">电动汽车相关职位</h2>
        <p class="lead">履历如果不会写就一定要多上网寻求帮</p>
      </div>
      <div class="col-lg-5 col-sm-pull-6  col-sm-6">
        <%= image_tag 'pic-2.jpg', class: 'img-responsive' %>
      </div>
    </div>
  </div>
</div>

<div class="content-section-a">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 col-sm-6">
        <hr class="section-heading-spacer">
        <div class="clearfix"></div>
        <h2 class="section-heading">行业新闻</h2>
        <p class="lead"><a target="_blank" href="http://www.gg-lb.com/asdisp2-65b095fb-27641-.html">新能源汽车挤爆2017上海国际车展</a><br><a target="_blank" href="http://www.gg-lb.com/asdisp2-65b095fb-27586-.html">锂离子电池行业规范白名单发布8家企业入围第一批目录</a></p>
      </div>
      <div class="col-lg-5 col-lg-offset-2 col-sm-6">
        <%= image_tag 'pic-3.jpg', class: 'img-responsive' %>
      </div>
    </div>
  </div>
</div>
